
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>File List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>File List</h1>
        <a href="{% url 'input_data:dataset_list' %}" class="btn btn-primary mb-3">Kembali ke Daftar Dataset</a>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nama Dataset</th>
                    <th>Status</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.file_name }}</td>
                    <td>{{ file.status }}</td> 
                    <td><a href="{{ file.my_file }}" target="_blank">{{ file.my_file }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
